@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<MyTours.Models.Trip>
@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<div class="row">
    <div>
        <h1>Welcome to the World</h1>
        <p>This app will allow you to plan for world trips</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>
</div>