@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
<h2>Hello World</h2>
<p>This will be my website soon!!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>

</form>